@font-face {
  font-family: DroidArabicNaskh;
  font-display: swap;
  src: url("./Fonts/Droid-Naskh-Regular.ttf");
}
@font-face {
  font-family: DroidArabicNaskhBold;
  font-display: swap;
  src: url("./Fonts/droidnaskh-bold.ttf");
}
@font-face {
  font-family: DroidSans-Bold;
  font-display: swap;
  src: url("./Fonts/DroidSans-Bold.ttf");
}
.Body {
  max-width: 1400px;
  margin: 0 auto;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
}
.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Image_comp {
  width: 100%;
}
.Image_Doc {
  width: 100%;
}
.M_right {
  display: grid;
  grid-template-rows: 0.5fr 0.3fr 0.35fr 0.35fr 0.45fr;
  margin-left: 50px;
}
.M_left {
  display: grid;
}
.row1 {
  margin-top: 42px;
}
.row2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-top: 16px;
}
.row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.R_row3 {
  margin-right: 20%;
}
.L_row3 {
  margin-left: 20%;
}
.Btn {
  padding-top: 17px;
}
.button1 {
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #ea5374;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  font-family: DroidArabicNaskh;
}
.button1:focus {
  outline: none;
}

.button2 {
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: gray;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  font-family: DroidArabicNaskh;
}
.button2:focus {
  outline: none;
}
.button3 {
  border: none;
  color: #878a8c;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  font-family: DroidArabicNaskh;
}
.button3:focus {
  outline: none;
}
.button4 {
  border: none;
  color: #ea5374;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  font-family: DroidArabicNaskh;
}
.button4:focus {
  outline: none;
}
.Image {
  width: 90%;
  height: auto;
}
.eon {
  height: 61%;
  margin-left: 60%;
}
.eon_Info {
  background-color: #878a8c;
  display: grid;
  grid-template-columns: 0.5fr 7fr 0.5fr;
  padding-bottom: 57px;
}
.eon_Info_Main {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
}
.Info_R {
  display: grid;
}
.Info_L {
  display: grid;
}
.eon_Info_Image {
  float: right;
  height: 100%;
}
.T1 {
  color: gray;
  margin-right: 67%;
  font-size: 23px;
  font-family: DroidArabicNaskh;
  line-height: 26px;
}
.T2 {
  color: #ea5374;
  font-size: 18px;
  font-family: DroidArabicNaskh;
}

.T3 {
  font-size: 55px;
  color: #ea5374;
  font-family: DroidSans-Bold;
}
.T4 {
  font-size: 16px;
  font-family: DroidArabicNaskh;
}

.T5 {
  font-size: 19px;
  color: #878a8c;
  text-align: right;
  margin-right: 15%;
  padding-top: 3%;
  font-family: DroidArabicNaskh;
}
.T6 {
  font-size: 20px;
  color: #ea5374;
  text-decoration: underline;
  text-align: right;
  margin-right: 14%;
  font-family: DroidArabicNaskh;
}
.T7 {
  font-size: 18px;
  color: #878a8c;
  text-align: right;
  margin-right: 14%;
  padding-top: 5%;
  font-family: DroidArabicNaskh;
  line-height: 23px;
}
.T8 {
  text-align: center;
  color: #878a8c;
  font-size: 21px;
  font-family: DroidArabicNaskh;
}
.T9 {
  color: #e7e7e7;
  font-size: 34px;
  text-align: center;
  margin: 30px;
  font-family: DroidArabicNaskhBold;
}
.T10 {
  color: #e7e7e7;
  font-size: 18px;
  text-align: right;
  font-family: DroidArabicNaskh;
  padding-top: 92px;
}

.T_Info_H {
  color: #e7e7e7;
  font-size: 20px;
  text-align: right;
  display: grid;
  grid-template-columns: 1.25fr 6fr 10fr;
  margin-top: 18px;
  font-family: DroidArabicNaskhBold;
}
.T_Info_B {
  color: #e7e7e7;
  font-size: 20px;
  text-align: right;
  padding-right: 32px;
  font-family: DroidArabicNaskh;
  line-height: 30px;
}
.T_steps {
  font-size: 34px;
  color: #ea5374;
  text-align: center;
  padding: 40px 0;
  font-family: DroidArabicNaskhBold;
}
.T1_steps {
  color: #ea5374;
  font-size: 24px;
  text-align: center;
  font-family: DroidArabicNaskh;
}
.T2_steps {
  color: #878a8c;
  font-size: 18px;
  text-align: center;
  font-family: DroidArabicNaskh;
}
.T1_booking {
  color: #ffffff;
  font-size: 19px;
  padding-bottom: 15px;
  text-align: right;
  font-family: DroidArabicNaskh;
}
.T2_booking {
  color: #ffffff;
  font-size: 19px;
  text-decoration: underline;
  text-align: right;
  font-family: DroidArabicNaskh;
}
.T1_comp {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  padding: 22px 0;
  font-family: DroidArabicNaskhBold;
}
.T1_Doc {
  color: #878a8c;
  font-size: 32px;
  text-align: center;
  padding-bottom: 56px;
  font-family: DroidArabicNaskh;
}
.T2_Doc {
  color: #878a8c;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  font-family: DroidArabicNaskh;
}
.steps {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  padding: 20px 0 73px;
}
.Main_steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.booking {
  display: grid;
  grid-template-columns: 1.5fr 6fr 1fr;
  background-color: #ea5374;
  padding: 53px 0;
}
.Main_booking {
  display: grid;
  grid-template-columns: 5fr 1fr 7fr;
}
.comparison {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  padding: 20px 0 67px;
  background-color: #878a8c;
}
.Doctor {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  padding: 53px 0;
}

.B4 {
  border: none;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ea5374;
  outline: none;
  margin-top: 10px;
  font-family: SorceSnaceBold;
}
.B4:disabled {
  background-color: #888;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  direction: ltr;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  background-color: white;
}

.modal-body {
  padding: 2px 16px;
  display: block;
}

.greeting {
  display: none;
  text-align: center;
  font-size: 40px;
  font-family: OpenSansRegular;
}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
}
input[type="text"] {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px 0;
  background-color: #dddedf;
  border: none;
  border-radius: 5px;
  font-family: OpenSansRegular;
}
label {
  display: block;
  font-family: OpenSansBold;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #dddedf;
  font-weight: bold;
  color: grey;
  border: none;
}
option {
  background-color: #fefefe;
  color: #000;
  border: none;
  font-family: OpenSansRegular;
}
.container {
  position: relative;
}
#contact {
  display: none;
}
.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid white;
  border-right: 10px solid white;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 839px) {
  .App {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .Main {
    grid-template-columns: 1fr;
  }
  .eon_Info_Main {
    grid-template-columns: 1fr;
  }
  .T_Info_H {
    grid-template-columns: 1fr 6fr;
  }
  .M_right {
    margin: 0;
  }
  .Doctor {
    grid-template-columns: 1fr;
  }
  .Main_steps {
    grid-template-columns: 1fr;
  }
  .Main_booking {
    grid-template-columns: 1fr;
  }
  .booking {
    grid-template-columns: 1fr;
  }
  .Logo {
    width: 100%;
  }
  .eon {
    margin: 0;
  }
  .T1 {
    margin: 0;
  }
  .T5 {
    margin: 0;
    font-size: 17px;
  }
  .T6 {
    margin: 0;
    font-size: 18px;
  }
  .T7 {
    margin: 0;
    line-height: 26px;
  }
  .row3 {
    grid-gap: 1em;
  }
  .button1 {
    font-size: 19px;
    padding: 0;
  }
  .button2 {
    margin: 0;
    font-size: 19px;
    padding: 0;
  }
  /* .button3 {
    margin: 0;
    font-size: 19px;
    padding: 0;
  }
  .button4 {
    margin: 0;
    font-size: 19px;
    padding: 0;
  } */
  .row3 {
    grid-template-columns: 1fr;
  }
  .R_row3 {
    margin: 0;
  }
  .L_row3 {
    margin: 0;
  }
  .row4 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1em;
  }
  .Image {
    margin-top: 2em;
  }
}
