@font-face {
  font-family: OpenSansRegular;
  font-display: swap;
  src: url("./Fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansBold;
  font-display: swap;
  src: url("./Fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSansBoldSemibold;
  font-display: swap;
  src: url("./Fonts/OpenSans-SemiBold.ttf");
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
}
.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.M_right {
  display: grid;
  grid-template-rows: 0.5fr 0.35fr 0.5fr 0.5fr 0.85fr;
  margin-left: 50px;
}
.M_left {
  display: grid;
}
.row1 {
  margin-top: 42px;
}
.row2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-top: 16px;
}
.row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.R_row3 {
  margin-right: 20%;
}
.L_row3 {
  margin-left: 20%;
}
.button1 {
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #ea5374;
  outline: none;
}
.button1:focus {
  outline: none;
}

.button2 {
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: gray;
  outline: none;
}
.button2:focus {
  outline: none;
}
.Image {
  width: 100%;
  height: auto;
}
.eon {
  height: 49%;
  margin-left: 60%;
}
.eon_Info {
  background-color: #878a8c;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
}
.eon_Info_Main {
  display: grid;
  grid-template-columns: 10fr 3fr 10fr;
}
.Info_R {
  display: grid;
}
.Info_L {
  display: grid;
}
.eon_Info_Image {
  float: right;
}
.T1 {
  color: gray;
  margin-right: 67%;
  font-size: 23px;
}
.T2 {
  color: #ea5374;
  font-size: 18px;
}

.T3 {
  font-size: 55px;
  color: #ea5374;
}
.T4 {
  font-size: 16px;
}

.T5 {
  font-size: 19px;
  color: #878a8c;
  text-align: right;
  margin-right: 15%;
  padding-top: 3%;
}
.T6 {
  font-size: 20px;
  color: #ea5374;
  text-decoration: underline;
  text-align: right;
  margin-right: 14%;
}
.T7 {
  font-size: 18px;
  color: #878a8c;
  text-align: right;
  margin-right: 14%;
  padding-top: 7%;
}
.T8 {
  text-align: center;
  color: #878a8c;
  font-size: 21px;
}
.T9 {
  color: #e7e7e7;
  font-size: 34px;
  text-align: center;
  margin: 30px;
}
.T10 {
  color: #e7e7e7;
  font-size: 18px;
}
.T_Info_H {
  color: #e7e7e7;
  font-size: 20px;
  text-align: right;
  display: grid;
  grid-template-columns: 1.25fr 5fr 10fr;
  margin-top: 18px;
}
.T_Info_B {
  color: #e7e7e7;
  font-size: 20px;
  text-align: right;
  padding-right: 32px;
}

.Button1 {
  border: none;
  color: #ffffff;
  font-size: 25px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #3a93ab;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  font-family: OpenSansRegular;
}
.Button1:focus {
  outline: none;
}

.Button2 {
  border: none;
  color: white;
  font-size: 25px;
  padding: 5px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px 4px 15px;
  cursor: pointer;
  background-color: #d80e83;
  outline: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  font-family: OpenSansRegular;
}
.Button2:focus {
  outline: none;
}
.B4 {
  border: none;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #d80e83;
  outline: none;
  margin-top: 10px;
  font-family: SorceSnaceBold;
}
.B4:disabled {
  background-color: #888;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  background-color: white;
}

.modal-body {
  padding: 2px 16px;
  display: block;
}

.greeting {
  display: none;
  text-align: center;
  font-size: 40px;
  font-family: OpenSansRegular;
}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
}
input[type="text"] {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px 0;
  background-color: #dddedf;
  border: none;
  border-radius: 5px;
  font-family: OpenSansRegular;
}
label {
  display: block;
  font-family: OpenSansBold;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #dddedf;
  font-weight: bold;
  color: grey;
  border: none;
}
option {
  background-color: #fefefe;
  color: #000;
  border: none;
  font-family: OpenSansRegular;
}
.container {
  position: relative;
}
#contact {
  display: none;
}
.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid white;
  border-right: 10px solid white;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 839px) {
  .Row1 {
    grid-template-columns: 1fr;
  }
  .Row2 {
    margin: 0;
  }
  .Left {
    margin: 0 14px;
  }
  .Image {
    width: 100%;
    margin: 20px 0;
  }
  .T3 {
    font-size: 17px;
  }
  .T4 {
    font-size: 35px;
  }
  .T5 {
    font-size: 12px;
  }
  .T6 {
    font-size: 20px;
  }
  .T7 {
    font-size: 20px;
  }
  span {
    font-size: 21px;
  }
  .Lrow2 {
    margin-top: 25px;
  }
  .Lrow3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25px;
  }
  .Lrow4 {
    margin-top: 25px;
  }
  .Button1 {
    width: 95%;
    font-size: 25px;
  }
  .Button2 {
    font-size: 25px;
    margin-left: 0px;
    width: 95%;
  }
  .CT2 {
    margin-left: 21px;
    width: 90%;
  }
  .T1 {
    font-size: 17px;
  }
  .T2 {
    font-size: 16px;
    padding: 10px;
  }
  .Logo {
    width: 100%;
  }
  .modal-content {
    width: 90%;
  }
}
